<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Sayak Karar</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    
    <!-- MAIN -->
    <main class="main">

        <!-- THANK YOU -->
        <section class="project section">
            <div class="project__bg">
                <div class="project__container container grid">
                    <div class="project__data">
                        <h2 class="project__title">THANK YOU FOR SENDING ME THE MESSAGE!!!!</h2>
                        <p class="project__description">Have a nice day!!</p>
                        <a href="/" class="button button--flex button--white">
                            Back to Home
                            <i class="uil uil-message project__icon button__icon"></i>
                        </a>
                    </div>

                    <img src="../static/img/project.png" alt="" class="project__img">
                </div>
            </div>
        </section>

    <!-- MAIN JS -->
    <script src="../static/js/main.js"></script>
</body>

</html>